*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #232931;
    color: #eeeeee;
}
hr.line{
    border-color: #4ecca3;
}
/* Banner Image */
#header{
    width: 100%;
    height: 100vh;
    background-color: #191e23;
}
.container{
    padding: 10px 10%;
}
/* Logo + Index */
nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Logo image */
.logo{
    width: 15%;
}
/* Index links */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* Each title of the index */
nav ul li a{
    color: #eeeeee;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/* Index titles hover animation */
nav ul li a::after{ 
    content: '';
    width: 0;
    height: 3px;
    background: #4ecca3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
nav ul li a:hover::after{ 
    width: 100%;
}
/* Sub header of the logo */
.header-text{
    width: 100%;
    margin: auto;
    font-size: 25px;
    text-align: center;
    bottom: 5%;
    position: absolute;
}
.header-text h1{
    margin-top: 20px;
    font-size: 45px;
}
.header-text h1 span{
    color: #4ecca3;
}
img.banner{
    display: block;
    margin: auto;
    width: 25%;
}

/* ------------ ABOUT ------------ */

/* Text of the about section */
#about{
    color: #ababab;
    padding-bottom:5%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    place-items: center start;
}

/* LEFT */
.about-col-1{
    flex-basis: 35%;
}
.profile{
    width: 100%;
    border: 20%;
    border-radius: 5%;
}

/* RIGHT */
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-weight: lighter;
    margin-top: 7%;
    font-size: 20px;
    color: #ababab;
    line-height: 170%;
}
.about-col-2 span{
    font-weight: bold;
    color: #eeeeee;    
}
#name{
    color: #4ecca3;    
}
.about-col-2 h3{
    margin: 15% 0 5%;
    font-weight: bold;
    color: #eeeeee;    
}
.about-col-2 ul{
    color: #4ecca3;
}

.about-col-2 ul li{
    color: #EEEEEE;
    line-height: 175%; 
    margin: 0 0 5% 5%;
    position: relative;
}
.about-col-2 ul li span{
    color: #ababab;
}
.about-col-2 ul li::before {
    background-color: #4ecca3;
    width: 0%;
    content: '';
    position: absolute;
    top: 15%;
    bottom: 5%;
    right: 104%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #eeeeee;
    padding-top: 5%;
}
.tab-titles{
    padding: 7% 0 5%;
    display: flex;
}
.tab-links{
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #ababab;
    transition: 0.5s;
}
/* Hover of headers */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4ecca3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-links:hover{
    transform: scale(1.1);
}
.tab-contents ul li{
    list-style-type: none;
    margin: 30px 0;
}
.tab-contents ul li span{
    color: #EEEEEE;
}
/* Activate text to be active */
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-links.active-link{
    color: #EEEEEE;
    transform: scale(1.1);
}

    /* padding: top right botton left */

/* ------------ PORTFOLIO ------------ */
#portfolio{
    padding-bottom:5%;
    background-color: #191e23;
}
.work-list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center start;
} 
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.cell{
    padding: 15% 0;
} 
/* Right description */
.work-description{
    margin-left: 10%;
    color: #ababab;
    align-self: center;
}
.work-description h3{
    margin-bottom: 8%;
    color: #4ecca3;
    font-size: 25px;
}
.work-description h3 span{
    font-size: 15px;
    font-weight: bold;
    color: #EEEEEE;
}
.work-description p{
    line-height: 25px;
    margin-top: 30px;
}
.work-description span{
    font-weight: bold;
    color: #EEEEEE;
}
.awards{
    margin-top: 30px;
}
/* Icon content */ 
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform  0.5s;
    cursor: pointer;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0), #4ecca3);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: bottom;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    cursor: pointer;
}
.layer a{
    margin-top: 20px;
    color: #4ecca3;
    text-decoration: none;
    font-size: 8px;
    line-height: 60px;
    background: #232931;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.layer img{
    margin-top: 50%;
    transform: scale(0);
    align-self: center;
    display: block;
    transition: 0.4s;
}
/* Hover animations */
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.work:hover .layer img{
    transform: scale(0.75);
}
/* ------ CONTACT ------ */
#contact{
    padding-bottom:5%;
}
.social-icons img{
    width: 15%;
    margin: 10% 2% 0 2%;
}
.content{
    padding-top: 5%;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.content button{
    background-color: transparent;
    border: none;
    color: #EEEEEE;
    font-weight: bold;
    font-size: large;
    margin-top: 5%;
    cursor: pointer;
}

/* ----- css 4 small screens ----- */

@media only screen and (max-width: 700px){
    img.banner{
        display: block;
        margin: auto;
        width: 75%;
        padding-top: 10%;
    }
} 